// font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Roboto:ital,wght@0,300;0,500;0,700;1,500;1,700&display=swap');
// fonts
$base-font-size: 20px;
$base-font:'Roboto', sans-serif;
$heading-font: 'Poppins', sans-serif;


// color
$theme-font: #3c3c3c;

$content-color: #222222;

$white: #fff;
$black: #000;
$black-ash: #5d5d5d;
$ash: #eaeaea;


// extra color
$body-color: #797979;
$content-color-01: #616161;
$content-color-02: #545454;
$off-white-01: #dddfe1;
$light-1: #0c0202;//
$light-2: #e2f3ff;//
$light-3: #e1e1e1;//
$cyan-2 : #f3f4f4;//
$cyan-3 : #cbcbcb;//
$cyan-4 : #f5f5f5;//
$dark-gray: #080c0f;//
$small-black: #333;

// bg color 
$primary-theme : #fcfcfc;
$primary-bg : #fbfbfb;
$theme-color : #e2574c;
$secondary-bg: #f6f6f6;
$border-ash: #f2f2f2;//
$border-color: #e6e6e6;//
$body-bg: #f3f2f2;
$icon-bg: #fedadc;
$icon-bg-2 : #ffd9dc;
$icon-bg-3 : #f2a0a7;
$positive-bg : #f9da0d;
$tag-bg : #e22454;
$btn-bg: #646466;


// 
// $theme-bg-4 : #FFFBF5;
// $theme-bg-5 : #043F2D;
// $theme-bg-6 : #16503E;



  



























